a {
    text-decoration: none;
    color: #007bff; /* Синий цвет (можете выбрать другой) */
    padding: 10px;
  }
  
  /* Стилизируем ссылки при наведении курсора */
  a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
    color: #0056b3; /* Сменяем цвет при наведении (можете выбрать другой) */
  }